
body{
    margin: 0px;
}

#wrapper{
    display: grid;
    grid-template-areas: 
    "he he he"
    "na na na"
    "cr cr cr"
    "ma ma ma"
    "ma ma ma"
    "ma ma ma"
    "fo fo fo"
    ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 100px auto auto auto auto 200px;
    font-family: 'Cinzel Decorative', cursive;
    background-color:#032130;
}

.header{
    grid-area: he;
    background-color:#032130;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    color: #F1BD1B;
}

.loga img{
    height: 175px;
}

.nav{
    grid-area: na;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 40px;
    background-color:#032130;
    font-weight:700;
}

.nav a{
    text-decoration: none;
    font-size: 25px;
}

.nav a:link{
    color:#76E482 ;
    }

    /* visited link */
    a:visited {
    color: #BD88DF;
    }
  
    /* mouse over link */
    a:hover {
    color: #F1BD1B;
    }
  
    /* selected link */
    a:active {
    color: rgb(204, 11, 11);
    }


.crazzy_main{
    grid-area: cr;
    background-color:#76E482;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-left: 300px;
    margin: 75px;
}

.crazzy_main img{
    width: 65%;
    border-radius: 30px;
}

.main_index{
    grid-area: ma;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 30px;
    transition: 2.7s;
}


.kraken{
    flex-basis: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    background-color:#032130;
    color:#BD88DF ;
}

.hydra{
    flex-basis: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    background-color:#032130;
    color: #F1BD1B;
}

.main_meny{
    grid-area: ma;
    display: flex;
    justify-content: space-around;
    background-color: #d8bedd;
    padding: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    flex-direction: column;
}

.main_om{
    background-color: #d8bedd;
    padding: 40px;
    margin-left: 75px;
    margin-bottom: 50px;
    width: 1000px;
    height: auto;
}

.main_om a{
  color: #032130;
}

.main_om img{
    width: 450px;
    padding-left: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kraken img{
    width: 350px;
    margin-right: 25px;
    border-radius: 30px;
    transition: 2s;    
}


.kraken img:hover{
    transform: scale(1.15);
}
.hydra img{
    width: 350px;
    margin-left: 25px;
    border-radius: 30px;
    padding-bottom: 20px;
    transition: 2s;
}

.hydra img:hover{
    transform: scale(1.15);
}

.footer{
    grid-area: fo;
    background-color: #76E482;
    display:inline-flex;
    align-items: center;
    color: #032130;
}

.mini_rubruik{
    padding-left: 25px;
    font-weight: 800;
}

.footer_text{
    padding-left: 20px;
    font-weight: 600;
}

.footer img{
    width: 40px;
    height: 19px;
}
