body{
    margin: 0px;
}

#wrapper{
    display: grid;
    grid-template-areas: 
    "he he he"
    "na na na"
    "ma ma ma"
    "ma ma ma"
    "ma ma ma"
    "fo fo fo"
    ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 100px auto auto auto 200px;
}

.header{
    grid-area: he;
    background-color:rgb(163, 173, 154);
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.loga img{
    height: 150px;
}

.nav{
    grid-area: na;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 40px;
    background-color: rgb(109, 221, 65);
}

.nav a{
    text-decoration: none;
    font-size: 25px;
    font-family:fantasy;
}

.main_index{
    grid-area: ma;
    display: flex;
    align-items: center;
    text-size-adjust: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.main_index div{
    flex-basis: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_meny{
    grid-area: ma;
    display: flexbox;

}

.kraken img{
    width: 350px;
    margin-right: 25px;
}

.hydra img{
    width: 350px;
    margin-left: 25px;
}

.footer{
    grid-area: fo;
    background-color: rgb(109, 221, 65);
    display: inline-flexbox;
}

.footer img{
    width: 40px;
    height: 19px;
}
