#wrapper{
    display: grid;
    grid-template-areas: 
    "he he he"
    "na na na"
    "ma ma ma"
    "ma ma ma"
    "ma ma ma"
    "fo fo fo"
    ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 100px auto auto auto 100px;

}

.header{
    grid-area: he;
    background-color:rgb(163, 173, 154);
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.loga img{
    height: 150px;
}


.nav{
    grid-area: na;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 40px;
    background-color: rgb(109, 221, 65);
}

.main{
    grid-area: ma;
    display: inline-flexbox;

}

.kraken img{
    width: 350px;
}

.hydra img{
    width: 350px;
}

.footer{
    grid-area: fo;
}


/*;
body{
    margin: 0px;
    background-color: rgb(163, 173, 154)
}

.header{
    display: grid;
    grid-template-areas: 
    "t1 lo t2";
    grid-template-columns: 33%;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: rgb(4, 34, 0);
    padding: 50px;
}

h2{
    color: white;
}

.title_1{
    grid-area: t1;
}

.loga{
    grid-area: lo;
    width: 300px;
}

.title_2{
    grid-area: t2;
}


.nav{
    grid-template-areas: na;
    display: grid;
    grid-template-areas: 
    "me in os";
    grid-template-columns: 33%;
    grid-template-rows: 1fr;
    align-items: center;
    padding-left: 40px;
    background-color: rgb(109, 221, 65);
}

.chose_1{
    grid-area: me;
    text-decoration: none;
    margin-left: 100px;
}

.chose_2{
    grid-area: in;
    text-decoration: none;
    margin-left: 70px;
}

.chose_3{
    grid-area: os;
    text-decoration: none;
    margin-left: 2px;
}



.main{
    grid-area: ma;
    display: flexbox;
    flex-direction: row;
}

.kraken{
    margin-left: 2px;
    background-color: tomato;
    min-height: 100px;
}

#kraken_img{
    height: 350px;
}

.hydra{
    background-color: turquoise;
    min-height: 200px;
}

#hydra_img{
    height: 350px;
}

.footer{
    grid-template-areas: fo;
}
*/